<footer class="page-footer brown">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">Allan Maxwell Blair is a web developer currently studying at the Turing School of Software Design. His background includes engineering at Rensselaer Polytechnic Institute, Investment Banking at J.P. Morgan and a healthy obsession with epicurean delights.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text"></h5>
        <ul>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="mailto:a.maxwell.blair@gmail.com">Email</a></li>
          <li><a class="white-text" href="https://github.com/amaxwellblair">Github</a></li>
          <li><a class="white-text" href="https://www.linkedin.com/in/allan-maxwell-blair-04bb0336">Linkedin</a></li>
          <li><a class="white-text" href="https://twitter.com/amaxwellblair">Twitter</a></li>
          <li><a class="white-text" href="documents/Allan_Maxwell_Blair_2015.pdf">Resume</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2016 Allan Blair | Served by <a class="blue-text text-lighten-3" href="https://caddyserver.com">Caddy</a>
    </div>
  </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
